body {
  background-color: #1b1b1b;
  color: whitesmoke;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

input {
  padding: 7px 5px;
  outline: none;
}

textarea {
  outline: none;
}

input:user-valid,
textarea:user-valid {
  border: 1px solid green;
}

input:user-invalid,
textarea:user-invalid {
  border: 1px solid red;
}

form,
li {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 10px auto;
}

li {
  max-width: 500px;
}

.error {
  background-color: #f7c7cb;
  padding: 10px;
  margin: 10px 0px;
  border: 3px dashed red;
  color: black;
  display: none;
}

.success {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 10px 0px;
  border: 3px dashed green;
  display: none;
}

input,
textarea {
  background-color: #313131;
  color: white;
  border: 1px solid transparent;
}
