* {
  margin: none;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

input,
textarea,
button {
  border: 1px solid black;
  padding: 7px 5px;
}
input:user-invalid,
textarea:user-invalid {
  background-color: lightpink;
}

input:user-valid,
textarea:user-valid {
  background-color: lightgreen;
}

button {
  margin: 0 auto;
  padding: 7px 15px;
}

.error {
  padding: 10px;
  display: block !important;
  margin: 10px 0px;
  background-color: rgb(243, 175, 175);
  border: 3px dashed red;
}

.success {
  padding: 10px;
  display: block;
  background-color: lightgreen;
  border: 3px dashed green;
}

#message {
  display: none;
}
